
body, input, textarea {
  /* font-family: Ariel, "", sans-serif; */
  font-family: Andale Mono, monospace;
}

#main p {
  font-size: 30px;
  line-height: 50px;
}

#header {
  height: 140px;
}

.flipped {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.head {
  text-align:right;
  padding-top:0;
  margin-top:0;
}

.word {
  text-align:center;
  font-size: 3.4em;
}

.dword {
  text-align:center;
  cursor: pointer;
}

#lookup_flipped {
  text-align: right;
}
