
body, input, textarea {
  font-family: Ariel, "", sans-serif;
}

#main p {
  font-size: 30px;
  line-height: 50px;
}

#header {
  height: 120px;
}

.flipped {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.word {
  text-align:center;
  font-size: 3.4em;
}
